/data/raw/cif/
/data/raw/hkl/
/data/processed/cif.blob
/data/processed/ids.bytes.tmp
/data/processed/ids.off.tmp
/data/processed/meta.bin
/site
/tables
/prediction
/analysis
/features
/figures
/database
/src/polymine.egg-info
/scripts/cluster_stats_si3n4.py
/scripts/generate_features.py
/scripts/scatter.py
/scripts/soap_features.py
/scripts/test.py
/scripts/plot_imputation_bar.py
/figures
/database
/main.py
/.idea
/.nojekyll
/PolyMine_project-proposal.pdf
__pycache__/